@page "/PDFCreator"
<h3>PDFCreator</h3>

<div>
    Counter:<span>@_PDFCounter</span>
</div>


<br />
<br />


@* 
<button @onclick="@DownloadPDF_DinkToPdf">
    Generate pdf with Dink To Pdf
</button>
<br />
<br />


<button @onclick="StartStressTest_Dink">
   Dink Stress - test PDF Generation
</button> *@

<br />
<br />




<button @onclick="@DownloadPDF_Iron">
    Generate pdf with Iron PDF
</button>


<button @onclick="@StartStressTest_Iron">
    Iron - Start stress test
</button>
<span>&nbsp;@_stopwatch.Elapsed</span>

<br />
<br />


<button @onclick="@DownloadPDF_Evo">
    Evo - Generate pdf
</button>


<button @onclick="@StartStressTest_Evo">
    Evo - Start stress test
</button>

<br />
<br />




<button @onclick="StopStressTest">
    Stop Stress - Test
</button>

<br />
<br />

<button @onclick="CollectGarbage">
    CollectGarbage
</button>


<br />

<br />
Errors:
<br />
@for(int i=0; i<_errors.Count;i++)
{
    <div @key=i >@_errors[i]</div>
}
